/*  your css code here. If applicable */
body {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
}
nav {
  width: 16.67vw; /* 1/6th of the viewport width */
  background-color: #D7E8D4;
}

main {
  width: 83.33vw; /* 5/6th of the viewport width */
}

header, footer {
  height: 20vh; /* 1/5th of the viewport height */
  background-color: yellowgreen;
}

section {
  height: 80vh; /* 4/5th of the viewport height */
}

.content {
  width: 75%; /* 3/4th of the section width */
  min-height: 60vh;
}

aside {
  width: 25%; /* 1/4th of the section width*/
	background-color:lightgray;
}
nav, header, section, footer {
  padding: 1em;
}